# This environment variables can either be passed as this file using parameter " "--env-file= " or by using "--env" parameter for docker run 
SERVER_PORT=0
SECRET_MESSAGE="This is an example message"
SECRET_USER="EXAMPLE"
SECRET="CHANGE_ME_IAM_AN_EXAMPLE"
