[defaults]
inventory = ./inventory/gcp.yaml
host_key_checking = False
timeout = 60
[ssh_connection]
pipelining = True
[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml, google.cloud.gcp_compute
